/* Navigation elements */
/* from this tutorial - https://codetheweb.blog/style-a-navigation-bar-css/ */

h2 {
    color:#20590f /*dark green*/
}
header {
    background-color: white;
    position:fixed;
    top:0;
    left:0;
    right:0;
    height:80px;
    display: flex; /* makes elements inside header align to the top of the header*/
    align-items: center;
    z-index: 2; /*layer over everything*/
    /*box-shadow: 0 0 5px 0 black; /* box shadow - not used */

}
/* set the height of header logo*/
header img {
    height:50px;
    margin-left:30px;
    width:auto;
}

/* the asterisk means any elements inside the header will have these properties */
header * {
    display:inline;
}

header li {
    margin:15px;
    font-weight:bold;
    font-family: Arial, Helvetica, sans-serif;
}

header li a {
    color:black;
    text-decoration:none;
   }

body {
    font-family: Arial, Helvetica, sans-serif;
    margin-top: 50px;
    padding:30px;
}

/* Container holding the image and the text at the top of each page */
/* https://www.w3schools.com/howto/howto_css_image_text_blocks.asp */

.container {
    position: relative;
    z-index: 1;
  }
  
/* Bottom right text */
.text-block {
    position: absolute;
    bottom: 20px;
    right: 20px;
    background-color: black;
    color: white;
    padding-left: 20px;
    padding-right: 20px;
}

/* ********form styling********* */
/*link style*/
a {
    color: #add142;
}
/* Quotes tutorial
https://css-tricks.com/quoting-in-html-quotations-citations-and-blockquotes/
*/
.quote {
    margin: 0;
    background: #eeeeee;
    padding:1em;
    border-radius:1em;
    margin-top:10px;
    margin-bottom:10px;
}

.quote figcaption, .quote blockquote {
    margin:1em;
}

/* input boxes and text area*/
input, textarea {
    padding:5px;
    border: 2px solid #20590f;
    border-radius:4px;
    -webkit-transition: 0.5s;
    transition: 0.5s;
    outline: none;
}
/* change border color when the user is focussed on that field*/
input:focus, textarea:focus {
    border: 2px solid #add142;
}

.button {
    background-color:#20590f;
    border:none;
    border-radius: 8px;
    color:white;
    padding:10px 20px;
    font-size:16px;
    text-align:center;
    text-decoration:none;
    display: inline-block;
    cursor:pointer;
    
}

/* ****** Tables ******* */

table {
    border-collapse: collapse;
    border-spacing: 0;
    width: 100%;
    border: 1px solid #ffffff;
}

th, td {
    text-align: left;
    padding: 8px;
}
/*every even row to be a different color*/
tr:nth-child(even){background-color: #f2f2f2}

.tableHeader {
    background-color:#add142;
    font-weight:bold;
    color: black;
}

table caption {
    font-size:18px;
    font-weight:bold;
    text-align:left;
    padding-bottom: 15px;
    padding-top:10px;
}

/* ******* responsive Grid ******** */

#containerGrid {
    display:grid;
    grid-auto-columns: 1fr;
    grid-auto-flow: column;
}

.imageGrid{
    max-width:100%;
    height:auto;
}

figure {
    margin-left:30px;
    margin-right:30px;
}

/* different font settings for multiple lines in fig caption*/
figcaption span:first-child {
    font-size:1em;
    font-weight:bold;
    color:#323232;
    margin-top:3px;
}

figcaption span:last-child {
    font-size:0.75em;
    font-weight:700;
    color:#505050;
    margin-top:5px;
    text-transform: uppercase;
    letter-spacing:0.75px;
}

figcaption span {
    display:block;
}

footer {
    margin-top:20px;
    padding:5px;
    background-color:#d0dccc;
    border-radius: 10px;
}

/* the save for later and red items menu item */

/* Save Icon color in top menu */
.fa-save {
    color:black;
}

#cart {
    fill: #ea332a;
    float: left;
    margin-right: 2px;
    cursor: pointer;
  }

.cart-btn {
    background-color: transparent;
    font-size: 1.1rem;
    border-radius: 2px;
    margin-top:5px;
    margin-left:5px;
    max-width:60px;
  }

.cart-quantity {
    color: white;
    background-color: red;
    padding: 0em 0.1em;
    right: 0;
    border: solid 1px red;
    border-radius: 15px;
    font-weight: bolder;
    font-size:0.8em;
}


  .cart .cart-btn:focus {
    border: 2px solid #b61a12;
  }

/* THE HEART BUTTON*/

.like {
    background-color: rgba(173, 209, 66, 0.7);
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 10px;
    right: 50px;
    padding: 5px;
    border-radius: 50%;
    cursor: pointer;
}

.like img {
    width: 17px;
    height: 17px;
    padding: 3px;
}


/* save for later */
.save {
    /*background-color: rgba(var(--right-side-bg-color), 0.7);*/

    background-color: rgba(173, 209, 66, 0.7);
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 10px;
    right: 10px;
    padding: 5px;
    border-radius: 50%;
    cursor: pointer;
  }

  .save img {
    width: 16px;
    height: 16px;
    padding: 3px;
}

/* delete item on save for later */
.delete{
    cursor:pointer;
    color:#add142;
}

/*medium screens*/
@media screen and (max-width:700px) {
    header {
        height:60px;
    }
    header li {
        font-size:0.9em;
        margin:5px;
    }
    .text-block {
        font-size:0.9em;
    }
    figure {
        margin-left:10px;
        margin-right:10px;
    }
    figcaption {
        font-size:0.9em;
    }
    header img {
        margin-left:10px;
        height:40px;
    }
    body {
        padding:10px;
        font-size:0.9em;
    }
    table {
        font-size:0.9em;
    }
    footer {
        font-size:0.9em;
    }
    
}

/*small screens*/
@media screen and (max-width:600px) {
    header {
        height:60px;
    }
    header li {
        font-size:0.7em;
        margin:5px;
    }
    .text-block {
        font-size:0.8em;
    }
    figure {
        margin-left:10px;
        margin-right:10px;
    }
    figcaption {
        font-size:0.7em;
    }
    header img {
        margin-left:10px;
        height:30px;
    }
    body {
        padding:10px;
    }
    table {
        font-size:0.8em;
    }
    footer {
        font-size:0.8em;
    }
    
}



